body{
    background-image: url(bg.png);
}
.Name{
    color: white;
    font-size: 270%;
    text-align: center;
    font-family:monospace;
    background-color: black;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#me{
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}
#About{
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 150%;
    font-family: sans-serif;
}
#Menu{
    text-align: center;
    word-spacing: 30px;
    font-size: 50%;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
#Education,ul{
    text-align: center;
    font-size: 150%;
    font-family: sans-serif;
    color: rgb(68, 68, 68);
    list-style-type: none;
}
img{
    border:5px solid oldlace;

}
.Skills{
    text-align: center;
    color: rgb(68, 68, 68);
    font-family: sans-serif;
    font-size: 150%;
    word-spacing: 60px;
}
.HTML,.CSS,.Figma,.Python{
    border: none;
}
abbr{
    text-decoration: none;
}
